<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Traeat Patient</title>
<th:block th:include="layout/header"></th:block>
<link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#table_id').DataTable();
	});
</script>
</head>
<body>
	<div class="container">
		<a th:href="@{/treatPatientController/edit/0}">Nuevo</a>
		<div th:if="${not #lists.isEmpty(list)}">
			<h2>All patient</h2>
			<table id="table_id" class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Doctor</th>
						<th>Patient</th>
						<th>Date</th>
						<th>Diagnostic</th>
						<th>Treatment</th>
					
					</tr>
				</thead>



				<tbody>
					<tr th:each="e : ${list}">
						<td th:text="${e.id}">Id</td>
						<td th:text="${e.nameDoctor}">First Name</td>
						<td th:text="${e.namePatient}">Last Name</td>
						<td th:text="${e.localDateMedical}">DNI</td>
						<td th:text="${e.diagnosticConsultation}">DNI</td>
						<td th:text="${e.treatmentConsultation}">DNI</td>
	
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>